@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "RevueStd";
  src: url('../public/fonts/RevueStd.ttf') format('truetype');
}

.font-revueStd {
  font-family: "RevueStd", sans-serif;
}

@font-face {
  font-family: "Jersey10";
  src: url('../public/fonts/Jersey10.ttf') format('truetype');
}

.font-jersey10 {
  font-family: "Jersey10", sans-serif;
}

@font-face {
  font-family: "WorkSans";
  src: url('../public/fonts/WorkSans.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url('../public/fonts/WorkSans-Italic.ttf') format('truetype');
  font-style: italic;
}

.font-workSans {
  font-family: "WorkSans", sans-serif;
}

@font-face {
  font-family: "NewFrench";
  src: url('../public/fonts/NewFrench.otf') format('opentype');
  font-style: normal;
}

.font-newFrench {
  font-family: "NewFrench", sans-serif;
}

